body.dark .page {
    background-color: #EFEFEF;
    color: #6C6C6F;
}

body.dark .page>aside {
    background-color: #FFFFFF;
}

body.dark .page>aside>div>div:hover {
    background: #35363B;
}

body.dark .userCard {
    background: #dddddd;
}

body.dark .userCard footer {
    background: #E8676B;
}

body.dark .skills ol,
body.dark .works ol {
    background-color: #FFFFFF;
}

.resumeDown a {
    background: #FFFFFF;
}