body.white .page {
    background-color: #EFEFEF;
    color: #6C6C6F;
}

body.white .page>aside {
    background-color: #EFEFEF;
}

body.white .page>aside>div>div:hover {
    background: #35363B;
}

body.white .userCard {
    background: #dddddd;
}

body.white .userCard footer {
    background: #E8676B;
}

body.white .skills ol,
body.white .works ol {
    background-color: #FFFFFF;
}

body.white .resumeDown a {
    background: #FFFFFF;
}