* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

div[v-cloak] {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
li {
    list-style: none;
}

.page {
    background-color: #29282C;
    display: flex;
    height: 100vh;
    color: #6C6C6F;
}

.page>aside {
    display: flex;
    flex-direction: column;
    width: 80px;
    justify-content: space-between;
    background-color: #2C2C31;
    box-shadow: 10px 0px 37px -3px rgba(0, 0, 0, 0.6);
}

.page>aside>.up {
    display: flex;
    flex-direction: column;
}

.page>aside>div>div:hover {
    transition: 2s;
    background: #B4E1DC;
}

.page>aside>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    cursor: pointer;
}

.page>main {
    flex-grow: 1;
    overflow: auto;
}