* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

div[v-cloak] {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
li {
    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
}

.page>aside {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 0px 37px -3px rgba(0, 0, 0, 0.6);
}

.page>aside>.up {
    display: flex;
}

.page>aside>div>div:hover {
    transition: 2s;
}

.page>aside>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
}

.page>main {
    flex-grow: 1;
    overflow: auto;
}

wired-button {
    fill: white;
    padding: 8px 16px;
    margin: 24px;
}