* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
li {
    list-style: none;
}

.page {
    background-color: #29282C;
    display: flex;
    height: 100vh;
    color: #6C6C6F;
}

.page>aside {
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 1px solid red;
    justify-content: space-between;
    background-color: #2C2C31;
}

.page>aside>.up {
    display: flex;
    flex-direction: column;
}

.page>aside>div>div :hover {
    background: #2CB9B8;
}

.page>aside>div>div {
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.page>main {
    flex-grow: 1;
    border: 1px solid green;
    overflow: auto;
}

body>div>main>main {
    margin-top: -340px;
}

.logo {
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
    font-weight: bold;
}

button {
    padding: .5em 1.5em;
    border: transparent;
    border-radius: .3em;
    background: #42A1FF;
    cursor: pointer;
}

input {
    height: 2em;
    color: #000;
    padding: 0 .5em;
    border-radius: 5px;
    border: transparent;
}

.lzy {
    margin-right: 4px;
    color: #B4E1DC;
    cursor: pointer;
    border-top: 2px solid #9a9da2;
    border-bottom: 2px solid #9a9da2;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: white;
    overflow: hidden;
}

.loadingPage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9a9da2;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.loadingPage.active {
    display: flex;
}

.loading {
    width: 100px;
    height: 100px;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: s linear infinite 1.5s;
}

.loading::after {
    animation-delay: 0.75s;
}

@keyframes s {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: all 0.3s;
    color: #ACAEB1;
}

.topNavBar.active {
    background-color: #27292E;
    z-index: 1;
    color: #9A9DA2;
    box-shadow: 0px 14px 61px -7px rgba(0, 0, 0, 0.75);
    padding: 10px 0;
    transform: scale();
}

.topNavBar-show {
    display: none;
}

.topNavBar-inner {
    padding: 0 16px;
}

.topNavBar nav {
    padding-top: 7px;
    display: flex;
    justify-content: center;
}

.topNavBar nav>ul {
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
    cursor: pointer;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: inherit;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding: 5px 0;
    display: block;
    transition: all 0.3s;
    position: relative;
}

.topNavBar nav>ul>li.active>a::before,
.topNavBar nav>ul>li.heightLight>a::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 3px;
    background: #B4E1DC;
    animation: navBorder .5s;
    border-radius: 20%;
}

.topNavBar .submenu {
    display: none;
}

.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.heightLight>a::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 100%;
    width: 100%;
    height: 3px;
    background: #B4E1DC;
    animation: navBorder .5s;
    border-radius: 20%;
}

.topNavBar .submenu {
    display: none;
}

.topNavBar li.active .submenu {
    display: block;
    top: 100%;
    position: absolute;
    right: 0%;
    white-space: nowrap;
    padding: 10px 20px;
    background: white;
    box-shadow: 0px 4px 28px 5px rgba(0, 0, 0, 0.33);
    animation: submenuMove .5s;
}

@keyframes submenuMove {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0;
    }
}

@keyframes navBorder {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.banner {
    background: url(http://p86y5hc6k.bkt.clouddn.com/color.jpg) center;
    height: 515px;
    background-size: cover;
}

.banner .mark {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.2);
}

.your-element {
    max-width: 940px;
    margin: 0 auto;
    transform-style: preserve-3d
}

.userCard {
    max-width: 940px;
    margin: 0 auto;
    background-color: #35363B;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5)
}

.userCard .welcome {
    font-family: Helvetica;
    font-weight: bold;
    color: #27292E;
    background-color: #B4E1DC;
    padding: 4px 16px;
    line-height: 22px;
    display: inline-block;
    position: relative;
}

.userCard .welcome .triangle {
    border: 10px solid transparent;
    border-left-color: #B4E1DC;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    left: 5px;
}

.pictureandtext {
    padding: 55px;
}

.userCard .picture {
    float: left;
    margin-left: 65px;
    background: url(http://p86y5hc6k.bkt.clouddn.com/cap.jpg) center;
    width: 300px;
    height: 350px;
}

.userCard .text {
    float: left;
    width: 460px;
}

.userCard .text h1 {
    margin-top: 25px;
}

.userCard .text h3 {
    margin-top: 15px;
}

.userCard .text hr {
    height: 0;
    border: none;
    border-top: 1px solid #47494C;
    margin: 20px 0;
}

.userCard dt {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    font-weight: bold;
}

.userCard dd {
    color: #aaa;
    width: 70%;
    float: left;
    margin-bottom: 10px;
}

.userCard footer {
    background-color: #fff;
    text-align: center;
}

.userCard footer svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

.userCard footer a {
    border-radius: 50%;
    width: 50px;
    line-height: 30px;
    padding: 10px 0;
    margin: 12px;
    display: inline-block;
    transition: background-color 1s;
}

.userCard footer a:hover {
    background-color: #99BFBC;
}

.resumeDown {
    text-align: center;
}

.resumeDown a {
    font-size: 16px;
    line-height: 16px;
    padding: 21px 80px;
    border: 1px solid #474D56;
    background: #27292E;
    display: inline-block;
    border-radius: 2px;
    color: #9D9EA2;
    ;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}

.resumeDown a:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2)
}

.selfIntroduction {
    max-width: 940px;
    margin: 0 auto;
    font-family: Helvetica;
    text-align: center;
    line-height: 2em;
    font-size: 1.6em;
    color: #EBEBEC;
}

.skills,
.works,
.messages {
    margin-top: 60px;
}

.skills h2,
.works h2,
.messages h2 {
    text-align: center;
    margin: 0px auto;
    color: #7C7D82;
    font-size: 36px;
    margin-bottom: 2em;
}

.works,
.skills,
.messages {
    max-width: 940px;
    margin: 60px auto;
}

.skills ol {
    padding: 42px 50px 20px;
    background-color: #35363B;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.skills li {
    float: left;
    width: 48%;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}

.skills li:nth-child(even) {
    float: right;
    width: 48%;
    box-sizing: border-box;
}

.skills h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

.skills .proBar {
    width: 100%;
    height: 5px;
    background-color: #4E585B;
    border-radius: 3px;
    margin-bottom: 40px;
}

.skills .pro {
    height: 100%;
    background-color: #B4E1DC;
    ;
    border-radius: 3px;
    transform: translateX(0);
    transition: all 1s;
}

.skills.offset .pro {
    transform: translateX(-100%);
}

.works {
    text-align: center;
}

.works .swiper-container {
    max-width: 940px;
    height: 470px;
}

.works .works-container {
    background-color: #35363B;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}