body>div>main>.resumeMain {
    margin-top: -340px;
}

button {
    padding: 0 1em;
    border: transparent;
    border-radius: .3em;
    background: #42A1FF;
    cursor: pointer;
}

input {
    height: 2em;
    color: #000;
    padding: 0 .5em;
    border-radius: 5px;
    border: transparent;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: white;
    overflow: hidden;
    cursor: pointer;
}

.banner {
    background: url(http://p86y5hc6k.bkt.clouddn.com/color.jpg) center;
    height: 515px;
    background-size: cover;
}

.banner .mark {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.2);
}

.your-element {
    max-width: 940px;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.userCard {
    max-width: 940px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.userCard .welcome {
    font-family: Helvetica;
    font-weight: bold;
    color: #27292E;
    background-color: #B4E1DC;
    padding: 4px 16px;
    line-height: 22px;
    display: inline-block;
    position: relative;
}

.userCard .welcome .triangle {
    border: 10px solid transparent;
    border-left-color: #B4E1DC;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    left: 5px;
}

.pictureandtext {
    padding: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userCard .picture {
    background: url(http://p86y5hc6k.bkt.clouddn.com/cap.jpg) center;
    width: 300px;
    height: 350px;
}

.userCard .text {}

.userCard .text h1 {
    margin-top: 25px;
}

.userCard .text h3 {
    margin-top: 15px;
}

.userCard .text hr {
    height: 0;
    border: none;
    border-top: 1px solid #47494C;
    margin: 20px 0;
}

.userCard dt {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    font-weight: bold;
}

.userCard dd {
    color: #aaa;
    width: 70%;
    float: left;
    margin-bottom: 10px;
}

.userCard footer {
    text-align: center;
}

.userCard footer svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

.userCard footer a {
    border-radius: 50%;
    width: 50px;
    line-height: 30px;
    padding: 10px 0;
    margin: 12px;
    display: inline-block;
    transition: background-color 1s;
}

.userCard footer a:hover {
    background-color: #99BFBC;
}

.resumeDown {
    text-align: center;
}

.resumeDown a {
    font-size: 16px;
    line-height: 16px;
    padding: 21px 80px;
    border: 1px solid #474D56;
    display: inline-block;
    border-radius: 2px;
    color: #9D9EA2;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.2s;
}

.resumeDown a:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2)
}

.selfIntroduction {
    max-width: 940px;
    margin: 60px auto 0 auto;
    font-family: Helvetica;
    text-align: center;
    line-height: 2em;
    font-size: 1.6em;
    color: #6C6C6F;
}

.skills,
.works,
.messages {
    margin-top: 60px;
}

.skills h2,
.works h2,
.messages h2 {
    text-align: center;
    margin: 0px auto;
    color: #7C7D82;
    font-size: 36px;
    margin-bottom: 2em;
}

.works,
.skills,
.messages {
    max-width: 940px;
    margin: 60px auto;
}

.skills ol,
.works ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 42px 50px 20px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}

.skills ol .appendSkill,
.works ol .appendWork {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.skills ol .minusSkill:hover,
.works ol .minusWork:hover,
.works ol .appendWork:hover,
.skills ol .appendSkill:hover {
    animation: rotate 0.75s 0s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.works .skillTitile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills li {
    width: 48%;
    padding-bottom: 40px;
}

@media (max-width: 450px) {
    .skills li {
        width: 98%;
        padding-bottom: 40px;
    }
}

.works li {
    width: 100%;
    padding-bottom: 40px;
}

.skills h3,
.works h3 {
    margin-bottom: 5px;
}

.skills h4,
.works h4 {
    font-weight: normal;
}

.skills .proBar,
.works .proBar {
    width: 100%;
    height: 3px;
    border-radius: 1px;
    margin-bottom: 10px;
    background-color: #474D56;
}

.exitPreview {
    position: fixed;
    top: 40px;
    left: 40px;
}