<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/resume.css">
    <link rel="stylesheet" href="./css/editable-span.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="//at.alicdn.com/t/font_712967_063qy5zmgq7.js"></script>
    <title>简历编辑器</title>

</head>

<body>
    <div class="page" id="app">
        <aside>
            <div class="up">
                <div @click="onClickSave()">保存</div>
                <div>分享</div>
                <div>换肤</div>
                <div>打印</div>
            </div>


            <div class="down">
                <div @click="logOut()" v-show="currentUser.objectId" v-cloak>登出</div>
                <div @click="onClickSave()" v-show="!currentUser.objectId" v-cloak>注册</div>
            </div>
        </aside>
        <main>
            <div id="particles-js"></div>
            <!-- <div class="topNavBar clearfix" id="topNav">
                <div class="topNavBar-inner">
                    <a class="logo" src="#" alt="logo">
                        <span class="lzy">Lzy</span>
                    </a>
                    <nav class="meau">
                        <ul class="clearfix">
                            <li class="meauTrigger">
                                <a href="#jAbout">关于</a>
                            </li>
                            <li class="meauTrigger">
                                <a href="#jSkills">技能</a>
                            </li>
                            <li class="meauTrigger">
                                <a href="#jWorks">作品</a>
                                <ul class="submenu">
                                    <li>作品1</li>
                                    <li>作品2</li>
                                    <li>作品3</li>
                                </ul>
                            </li>
                            <li class="meauTrigger">
                                <a href="#jMessages">留言</a>
                            </li>
                            <li class="meauTrigger"><a href="#jCal" >博客</a></li>
                                        <li class="meauTrigger">
                                            <a href="#jComms" >联系方式</a>
                                            <ul class="submenu">
                                                <li>方式1</li>
                                                <li>方式2</li>
                                                <li>方式3</li>
                                            </ul>
                                        </li>
                                        <li class="meauTrigger"><a href="#jOther" >其他</a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->

            <div class="banner">
                <div class="mark"></div>
            </div>
            <main>
                <div class="your-element" data-tilt>
                    <div data-y class="userCard" id="jAbout">
                        <div class="pictureandtext clearfix">
                            <div class="text">
                                <span class="welcome">
                                    <editable-span :value="resume.job" @edit="onEdit('job', $event)"></editable-span>
                                    <span class="triangle"></span>
                                </span>
                                <h1>
                                    <editable-span :value="resume.name" @edit="onEdit('name', $event)"></editable-span>
                                </h1>
                                <p>
                                    <editable-span :value="resume.description" @edit="onEdit('description', $event)">
                                </p>
                                <hr>
                                <dl>
                                    <dt>年龄</dt>
                                    <dd>
                                        <editable-span :value="resume.age" @edit="onEdit('age', $event)">
                                    </dd>
                                    <dt>学校</dt>
                                    <dd>
                                        <editable-span :value="resume.school" @edit="onEdit('school', $event)">
                                    </dd>
                                    <dt>邮箱</dt>
                                    <dd>
                                        <editable-span :value="resume.email" @edit="onEdit('email', $event)">
                                    </dd>
                                    <dt>手机</dt>
                                    <dd>
                                        <editable-span :value="resume.phone" @edit="onEdit('phone', $event)"></editable-span>
                                    </dd>
                                </dl>
                            </div>
                            <div class="picture">
                            </div>
                        </div>
                        <footer class="media">
                            <a href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-github-square"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-zhihu"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-weixin"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-gmail"></use>
                                </svg>
                            </a>
                        </footer>
                    </div>
                </div>


                <p class="resumeDown">
                    <a href="./HowToSearch.pdf" target="_blank" class="button" download="">下载 PDF 简历</a>
                </p>

                <p class="selfIntroduction">
                    <editable-span :value="resume.about" @edit="onEdit('about', $event)"></editable-span>
                </p>
                <section data-y class="skills" id="jSkills">
                    <h2>技能</h2>
                    <ol class="clearfix">
                        <li>
                            <h3>HTML5 &amp; CSS3</h3>
                            <div class="proBar">
                                <div class="pro" style="width: 65%;"></div>
                            </div>
                        </li>
                        <li>
                            <h3>JavaScript</h3>
                            <div class="proBar">
                                <div class="pro" style="width: 60%;"></div>
                            </div>
                        </li>
                        <li>
                            <h3>jQuery</h3>
                            <div class="proBar">
                                <div class="pro" style="width: 20%;"></div>
                            </div>
                        </li>
                        <li>
                            <h3>Vue.js</h3>
                            <div class="proBar">
                                <div class="pro" style="width: 40%;"></div>
                            </div>
                        </li>
                        <li>
                            <h3>React.js</h3>
                            <div class="proBar">
                                <div class="pro" style="width: 35%;"></div>
                            </div>
                        </li>
                        <li>
                            <h3>node.js</h3>
                            <div class="proBar">
                                <div class="pro" style="width: 30%;"></div>
                            </div>
                        </li>
                    </ol>
                </section>
                <section data-y class="works" id="jWorks">
                    <h2>作品集</h2>
                    <div class="works-container">
                        <div class="line">
                            <div class="line-h">
                                <h1>姓名</h1>
                            </div>

                            <div class="showwrapper">

                                <div class="show">
                                    <span>
                                        <b>性别</b> {{ resume.gender }}</span>
                                    <span>
                                        <b>应聘职位</b>
                                    </span>Web前端工程师</span>
                                </div>
                            </div>
                        </div>

                        <div class="line">
                            <div class="line-h">
                                <h1>联系方式</h1>
                            </div>

                            <div class="showwrapper">
                                <div class="show">
                                    <span>
                                        <b>手机</b> 1231231234</span>
                                    <span>
                                        <b>Email </b>
                                        <a href="http://jion@baidu.com">jion@baidu.com</a>
                                    </span>
                                    <span>
                                        <b>个人主页 </b>
                                        <a href="http://unbrain.github.io">Github</a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="line">
                            <div class="line-h">
                                <h1>能力描述</h1>
                            </div>

                            <div class="showwrapper">
                                <div class="show">
                                    <p>
                                        <b>技术能力</b>
                                    </p>
                                    <p>熟练掌握HTML，CSS，JavaScript</p>
                                </div>
                                <div class="show">
                                    <p>
                                        <b>综合能力</b>
                                    </p>
                                    <p>良好的沟通，主动积极，努力勤奋</p>
                                </div>
                            </div>
                        </div>

                        <div class="line">
                            <div class="line-h">
                                <h1>教育经历</h1>
                            </div>

                            <div class="showwrapper">

                                <div class="show">
                                    <p>
                                        <b>本科</b>
                                    </p>
                                    <p>百度前端技术学院小微学院</p>
                                </div>
                                <div class="show">
                                    <p>
                                        <b>研究生</b>
                                    </p>
                                    <p>百度前端技术学院大斌学院</p>
                                </div>
                            </div>
                        </div>

                        <div class="line">
                            <div class="line-h">
                                <h1>项目经历</h1>
                            </div>

                            <div class="showwrapper">

                                <div class="show">
                                    <p>
                                        <b>小度小杜</b>
                                    </p>
                                    <p>作为前端工程师角色参与了ABC组件的开发</p>
                                </div>
                                <div class="show">
                                    <p>
                                        <b>SAN Doc</b>
                                    </p>
                                    <p>作为文档工程师参与了SAN Doc编写</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </main>

            <div v-show="login" class="login" v-cloak>
                <form class="form" @submit.prevent="loginUser">
                    <h1>登录</h1>
                    <div class="close" @click="login=false">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </div>
                    <div class="row">
                        <label for="" >邮箱</label>
                        <input type="text" v-model="loginData.email">
                    </div>
                    <div class="row">
                        <label for="">密码</label>
                        <input type="password" v-model="loginData.password">
                    </div>
                    <div class="actions">
                        <button type="submit">提交</button>
                        <button @click="login = false; signUp = true " type="button">注册</button>
                    </div>
                </form>
            </div>
            <div v-show="signUp" class="signUp" v-cloak> 
                <form class="form" @submit.prevent="saveUser()">
                    <h1>注册</h1>
                    <div class="close" @click="signUp=false">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </div>
                    <div class="row">
                        <label for="">邮箱</label>
                        <input type="text" v-model="signUpData.email">
                    </div>
                    <div class="row">
                        <label for="">密码</label>
                        <input type="password" v-model="signUpData.password">
                    </div>
                    <div class="actions">
                        <button type="submit">提交</button>
                        <button @click="signUp = false; login = true" type="button">登录</button>
                    </div>
                </form>
            </div>
    </div>

    </main>
    </div>

    <script src="../vendors/av-min.js"></script>
    <script src="../vendors/vue.min.js"></script>
    <script src="./js/av.js"></script>
    <script src="./js/app.js"></script>
    <script>


    </script>
</body>

</html>