<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/resume.css">
    <link rel="stylesheet" href="./css/editable-span.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="//at.alicdn.com/t/font_712967_knwn14ro9f.js"></script>
    <title>简历编辑器</title>

</head>

<body>
    <div class="page" id="app">
        <aside>
            <div class="up">
                <div @click="onClickSave()">保存</div>
                <div>分享</div>
                <div>换肤</div>
                <div>打印</div>
            </div>


            <div class="down">
                <div @click="logOut()" v-show="currentUser.objectId" v-cloak>登出</div>
                <div @click="onClickSave()" v-show="!currentUser.objectId" v-cloak>注册</div>
            </div>
        </aside>
        <main>
            <div id="particles-js"></div>
            <!-- <div class="topNavBar clearfix" id="topNav">
                <div class="topNavBar-inner">
                    <a class="logo" src="#" alt="logo">
                        <span class="lzy">Lzy</span>
                    </a>
                    <nav class="meau">
                        <ul class="clearfix">
                            <li class="meauTrigger">
                                <a href="#jAbout">关于</a>
                            </li>
                            <li class="meauTrigger">
                                <a href="#jSkills">技能</a>
                            </li>
                            <li class="meauTrigger">
                                <a href="#jWorks">作品</a>
                                <ul class="submenu">
                                    <li>作品1</li>
                                    <li>作品2</li>
                                    <li>作品3</li>
                                </ul>
                            </li>
                            <li class="meauTrigger">
                                <a href="#jMessages">留言</a>
                            </li>
                            <li class="meauTrigger"><a href="#jCal" >博客</a></li>
                                        <li class="meauTrigger">
                                            <a href="#jComms" >联系方式</a>
                                            <ul class="submenu">
                                                <li>方式1</li>
                                                <li>方式2</li>
                                                <li>方式3</li>
                                            </ul>
                                        </li>
                                        <li class="meauTrigger"><a href="#jOther" >其他</a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->

            <div class="banner">
                <div class="mark"></div>
            </div>
            <main>
                <div class="your-element" data-tilt>
                    <div data-y class="userCard" id="jAbout">
                        <div class="pictureandtext clearfix">
                            <div class="text">
                                <span class="welcome">
                                    <editable-span :value="resume.job" @edit="onEdit('job', $event)"></editable-span>
                                    <span class="triangle"></span>
                                </span>
                                <h1>
                                    <editable-span :value="resume.name" @edit="onEdit('name', $event)"></editable-span>
                                </h1>
                                <p>
                                    <editable-span :value="resume.description" @edit="onEdit('description', $event)">
                                </p>
                                <hr>
                                <dl>
                                    <dt>年龄</dt>
                                    <dd>
                                        <editable-span :value="resume.age" @edit="onEdit('age', $event)">
                                    </dd>
                                    <dt>学校</dt>
                                    <dd>
                                        <editable-span :value="resume.school" @edit="onEdit('school', $event)">
                                    </dd>
                                    <dt>邮箱</dt>
                                    <dd>
                                        <editable-span :value="resume.email" @edit="onEdit('email', $event)">
                                    </dd>
                                    <dt>手机</dt>
                                    <dd>
                                        <editable-span :value="resume.phone" @edit="onEdit('phone', $event)"></editable-span>
                                    </dd>
                                </dl>
                            </div>
                            <div class="picture">
                            </div>
                        </div>
                        <footer class="media">
                            <a href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-github-square"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-zhihu"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-weixin"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-gmail"></use>
                                </svg>
                            </a>
                        </footer>
                    </div>
                </div>

                <p class="selfIntroduction">
                    <editable-span :value="resume.about" @edit="onEdit('about', $event)"></editable-span>
                </p>

                <section data-y class="skills" id="jSkills">
                    <h2>技能列表</h2>
                    <ol>
                        <li v-for="skill,index in resume.skills">
                            <h3>
                                <editable-span :value="skill.name" @edit="onEdit(`skills[${index}].name`, $event)"></editable-span>
                                <svg v-if="index > 3" class="icon minusSkill" @click="minusSkill(index)">
                                    <use xlink:href="#icon-minus"></use>
                                </svg>
                            </h3>
                            <div class="proBar"></div>
                            <h4>
                                <editable-span :value="skill.description" @edit="onEdit('skills[${index}].description', $event)"></editable-span>
                            </h4>
                        </li>
                        <svg class="icon appendSkill" @click="appendSkill()">
                            <use xlink:href="#icon-add"></use>
                        </svg>
                    </ol>

                </section>
                <section data-y class="works" id="jWorks">
                    <h2>项目经历</h2>
                    <ol>
                        <li v-for="work, index in resume.works">
                            <div class="skillTitile">
                                <h3>
                                    <editable-span :value="work.name" @edit="onEdit(`works[${index}].name`, $event)"></editable-span>
                                    <svg v-if="index > 3" class="icon minusWork" @click="minusWork(index)">
                                        <use xlink:href="#icon-minus"></use>
                                    </svg>
                                </h3>
                                <h3>
                                    <button>
                                        <a :href="work.link">源码链接</a>
                                    </button>
                                    <button>
                                        <a :href="work.codeLink">项目链接</a>
                                    </button>
                                </h3>
                            </div>

                            <div class="proBar"></div>
                            <h4>技术栈:</h4>
                            <h5>
                                <editable-span :value="work.skills" @edit="onEdit(`works[${index}].skills`, $event)"></editable-span>
                            </h5>
                            <h4>项目描述:</h4>
                            <h5>
                                <editable-span :value="work.description" @edit="onEdit(`works[${index}].description`, $event)"></editable-span>
                            </h5>
                        </li>
                        <svg class="icon appendWork" @click="appendWork()">
                            <use xlink:href="#icon-add"></use>
                        </svg>
                    </ol>
                </section>

                <p class="resumeDown">
                    <a href="./HowToSearch.pdf" target="_blank" class="button" download="">预览 PDF 简历</a>
                </p>
            </main>

            <div v-show="login" class="login" v-cloak>
                <form class="form" @submit.prevent="loginUser">
                    <h1>登录</h1>
                    <div class="close" @click="login=false">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </div>
                    <div class="row">
                        <label for="">邮箱</label>
                        <input type="text" v-model="loginData.email">
                    </div>
                    <div class="row">
                        <label for="">密码</label>
                        <input type="password" v-model="loginData.password">
                    </div>
                    <div class="actions">
                        <button type="submit">提交</button>
                        <button @click="login = false; signUp = true " type="button">注册</button>
                    </div>
                </form>
            </div>
            <div v-show="signUp" class="signUp" v-cloak>
                <form class="form" @submit.prevent="saveUser()">
                    <h1>注册</h1>
                    <div class="close" @click="signUp=false">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </div>
                    <div class="row">
                        <label for="">邮箱</label>
                        <input type="text" v-model="signUpData.email">
                    </div>
                    <div class="row">
                        <label for="">密码</label>
                        <input type="password" v-model="signUpData.password">
                    </div>
                    <div class="actions">
                        <button type="submit">提交</button>
                        <button @click="signUp = false; login = true" type="button">登录</button>
                    </div>
                </form>
            </div>
    </div>

    </main>
    </div>

    <script src="../vendors/av-min.js"></script>
    <script src="../vendors/vue.min.js"></script>
    <script src="./js/av.js"></script>
    <script src="./js/app.js"></script>
    <script>


    </script>
</body>

</html>